<html>
  <head>
    <title><%= name %> tests</title>
    <script type="text/javascript" src="/javascripts/dojo/dojo/dojo.js" djConfig="isDebug: true, parseOnLoad: true"></script>
    <script type="text/javascript">
      dojo.registerModulePath("<%= module_namespace %>", "/javascripts/<%= module_namespace %>");
      dojo.require("dijit.dijit");
      dojo.require("dojo.parser");
      
      dojo.require("<%= name %>");
      dojo.require("doh.runner");
      
      doh.register("<%= name %>",
        [
          // This test should pass
          function testWidgetFromScriptWorks_ShouldPass(t){
            var params = { title: "foo" };
            var widget = new <%= name %>(params, dojo.byId("widget_from_script"));
            t.is("foo", widget.title);
            t.t(widget.domNode.innerHTML.indexOf("... stuff that is going to be in the widget") > -1);
          },
          // This will fail because myClass.someMethod() returns false.
          // Congratulations! You have a failing test... now go make something work :)
          function testMyClassSomeMethodIsTrue_ShouldFail(t){
            alert("You are using a generated test so the test should fail, but the test runner is working correctly.");
            var myClass = new <%= name %>();
            t.t(myClass.someMethod());
          }
        ]
      );
      
      dojo.addOnLoad(function(){
        doh.run();
      });
    </script>
  </head>
  <body>
    <div dojoType="<%= name %>" title="This is the widget title!">
      <span>All of this code will be inserted into the widget</span>
      <table>
        <thead>
          <tr>
            <th>Column 1</th>
            <th>Column 2</th>
          </tr>
        <tbody>
          <tr>
            <td>Value 1</td>
            <td>Value 2</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div id="widget_from_script">
      ... stuff that is going to be in the widget
    <div>
  </body>
</html>